$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-check_box: "\e900";
$icon-check_box_outline_blank: "\e901";
$icon-indeterminate_check_box: "\e902";
$icon-radio_button_checked: "\e903";
$icon-radio_button_unchecked: "\e904";
$icon-star: "\e905";
$icon-star_border: "\e906";
$icon-star_border_purple500: "\e907";
$icon-star_half: "\e908";
$icon-star_outline: "\e909";
$icon-star_purple500: "\e90a";
$icon-toggle_off: "\e90b";
$icon-toggle_on: "\e90c";
$icon-ft_apart: "\e90d";
$icon-architecture: "\e90e";
$icon-cake: "\e90f";
$icon-clean_hands: "\e910";
$icon-connect_without_contact: "\e911";
$icon-construction: "\e912";
$icon-coronavirus: "\e913";
$icon-deck: "\e914";
$icon-domain: "\e915";
$icon-elderly: "\e916";
$icon-emoji_emotions: "\e917";
$icon-emoji_events: "\e918";
$icon-emoji_flags: "\e919";
$icon-emoji_food_beverage: "\e91a";
$icon-emoji_nature: "\e91b";
$icon-emoji_objects: "\e91c";
$icon-emoji_people: "\e91d";
$icon-emoji_symbols: "\e91e";
$icon-emoji_transportation: "\e91f";
$icon-engineering: "\e920";
$icon-facebook: "\e921";
$icon-fireplace: "\e922";
$icon-follow_the_signs: "\e923";
$icon-group: "\e924";
$icon-group_add: "\e925";
$icon-groups: "\e926";
$icon-history_edu: "\e927";
$icon-king_bed: "\e928";
$icon-location_city: "\e929";
$icon-luggage: "\e92a";
$icon-masks: "\e92b";
$icon-military_tech: "\e92c";
$icon-mood: "\e92d";
$icon-mood_bad: "\e92e";
$icon-nights_stay: "\e92f";
$icon-no_luggage: "\e930";
$icon-notifications: "\e931";
$icon-notifications_active: "\e932";
$icon-notifications_none: "\e933";
$icon-notifications_off: "\e934";
$icon-notifications_paused: "\e935";
$icon-outdoor_grill: "\e936";
$icon-pages: "\e937";
$icon-party_mode: "\e938";
$icon-people: "\e939";
$icon-people_alt: "\e93a";
$icon-people_outline: "\e93b";
$icon-person: "\e93c";
$icon-person_add: "\e93d";
$icon-person_add_alt_1: "\e93e";
$icon-person_outline: "\e93f";
$icon-person_remove: "\e940";
$icon-person_remove_alt_1: "\e941";
$icon-plus_one: "\e942";
$icon-poll: "\e943";
$icon-precision_manufacturing: "\e944";
$icon-psychology: "\e945";
$icon-public: "\e946";
$icon-public_off: "\e947";
$icon-reduce_capacity: "\e948";
$icon-sanitizer: "\e949";
$icon-school: "\e94a";
$icon-science: "\e94b";
$icon-self_improvement: "\e94c";
$icon-sentiment_dissatisfied: "\e94d";
$icon-sentiment_neutral: "\e94e";
$icon-sentiment_satisfied: "\e94f";
$icon-sentiment_very_dissatisfied: "\e950";
$icon-sentiment_very_satisfied: "\e951";
$icon-share: "\e952";
$icon-sick: "\e953";
$icon-single_bed: "\e954";
$icon-sports: "\e955";
$icon-sports_baseball: "\e956";
$icon-sports_basketball: "\e957";
$icon-sports_cricket: "\e958";
$icon-sports_esports: "\e959";
$icon-sports_football: "\e95a";
$icon-sports_golf: "\e95b";
$icon-sports_handball: "\e95c";
$icon-sports_hockey: "\e95d";
$icon-sports_kabaddi: "\e95e";
$icon-sports_mma: "\e95f";
$icon-sports_motorsports: "\e960";
$icon-sports_rugby: "\e961";
$icon-sports_soccer: "\e962";
$icon-sports_tennis: "\e963";
$icon-sports_volleyball: "\e964";
$icon-thumb_down_alt: "\e965";
$icon-thumb_up_alt: "\e966";
$icon-whatshot: "\e967";
$icon-ac_unit: "\e968";
$icon-airport_shuttle: "\e969";
$icon-all_inclusive: "\e96a";
$icon-apartment: "\e96b";
$icon-baby_changing_station: "\e96c";
$icon-backpack: "\e96d";
$icon-bathtub: "\e96e";
$icon-beach_access: "\e96f";
$icon-bento: "\e980";
$icon-business_center: "\e981";
$icon-carpenter: "\e982";
$icon-casino: "\e983";
$icon-charging_station: "\e984";
$icon-checkroom: "\e985";
$icon-child_care: "\e986";
$icon-child_friendly: "\e987";
$icon-corporate_fare: "\e988";
$icon-countertops: "\e989";
$icon-do_not_step: "\e98a";
$icon-do_not_touch: "\e98b";
$icon-dry: "\e98c";
$icon-elevator: "\e98d";
$icon-escalator: "\e98e";
$icon-escalator_warning: "\e98f";
$icon-family_restroom: "\e990";
$icon-fence: "\e991";
$icon-fire_extinguisher: "\e992";
$icon-fitness_center: "\e993";
$icon-food_bank: "\e994";
$icon-foundation: "\e995";
$icon-free_breakfast: "\e970";
$icon-golf_course: "\e971";
$icon-grass: "\e972";
$icon-hot_tub: "\e973";
$icon-house: "\e974";
$icon-house_siding: "\e975";
$icon-kitchen: "\e976";
$icon-meeting_room: "\e977";
$icon-microwave: "\e996";
$icon-night_shelter: "\e997";
$icon-no_backpack: "\e998";
$icon-no_cell: "\e999";
$icon-no_drinks: "\e99a";
$icon-no_flash: "\e99b";
$icon-no_food: "\e99c";
$icon-no_meeting_room: "\e99d";
$icon-no_photography: "\e99e";
$icon-no_stroller: "\e99f";
$icon-pool: "\e9a0";
$icon-rice_bowl: "\e9a1";
$icon-roofing: "\e9a2";
$icon-room_preferences: "\e9a3";
$icon-room_service: "\e9a4";
$icon-rv_hookup: "\e9a5";
$icon-smoke_free: "\e9a6";
$icon-smoking_rooms: "\e9a7";
$icon-soap: "\e9a8";
$icon-spa: "\e9a9";
$icon-sports_bar: "\e9aa";
$icon-stairs: "\e9ab";
$icon-storefront: "\e978";
$icon-stroller: "\e979";
$icon-tapas: "\e97a";
$icon-tty: "\e97b";
$icon-umbrella: "\e97c";
$icon-wash: "\e97d";
$icon-water_damage: "\e97e";
$icon-wheelchair_pickup: "\e97f";
$icon-account_tree: "\e9ac";
$icon-adb: "\e9af";
$icon-airline_seat_flat: "\e9b0";
$icon-airline_seat_flat_angled: "\e9b1";
$icon-airline_seat_individual_suite: "\e9b2";
$icon-airline_seat_legroom_extra: "\e9b3";
$icon-airline_seat_legroom_normal: "\e9b4";
$icon-airline_seat_legroom_reduced: "\e9b5";
$icon-airline_seat_recline_extra: "\e9b6";
$icon-airline_seat_recline_normal: "\e9b7";
$icon-bluetooth_audio: "\e9b8";
$icon-confirmation_number: "\e9b9";
$icon-directions_off: "\e9ba";
$icon-disc_full: "\e9bb";
$icon-do_disturb: "\e9bc";
$icon-do_disturb_alt: "\e9bd";
$icon-do_disturb_off: "\e9be";
$icon-do_disturb_on: "\e9bf";
$icon-drive_eta: "\e9c0";
$icon-enhanced_encryption: "\e9c1";
$icon-event_available: "\e9c2";
$icon-event_busy: "\e9c3";
$icon-event_note: "\e9c4";
$icon-folder_special: "\e9c5";
$icon-live_tv: "\e9c6";
$icon-mms: "\e9c7";
$icon-more: "\e9c8";
$icon-network_check: "\e9c9";
$icon-network_locked: "\e9ca";
$icon-no_encryption: "\e9cb";
$icon-no_encryption_gmailerrorred: "\e9ad";
$icon-ondemand_video: "\e9cc";
$icon-personal_video: "\e9cd";
$icon-phone_bluetooth_speaker: "\e9ce";
$icon-phone_callback: "\e9cf";
$icon-phone_forwarded: "\e9d0";
$icon-phone_in_talk: "\e9d1";
$icon-phone_locked: "\e9d2";
$icon-phone_missed: "\e9d3";
$icon-phone_paused: "\e9d4";
$icon-power: "\e9d5";
$icon-power_off: "\e9d6";
$icon-priority_high: "\e9d7";
$icon-sd_card: "\e9d8";
$icon-sd_card_alert: "\e9d9";
$icon-sms: "\e9da";
$icon-sms_failed: "\e9db";
$icon-support_agent: "\e9dc";
$icon-sync: "\e9dd";
$icon-sync_disabled: "\e9de";
$icon-sync_problem: "\e9df";
$icon-system_update: "\e9e0";
$icon-tap_and_play: "\e9e1";
$icon-time_to_leave: "\e9e2";
$icon-tv_off: "\e9e3";
$icon-vibration: "\e9e4";
$icon-voice_chat: "\e9e5";
$icon-vpn_lock: "\e9e6";
$icon-wc: "\e9e7";
$icon-wifi: "\e9e8";
$icon-wifi_off: "\e9ae";
$icon-app_settings_alt: "\ea18";
$icon-apps: "\ea17";
$icon-arrow_back: "\ea16";
$icon-arrow_back_ios: "\ea15";
$icon-arrow_downward: "\ea14";
$icon-arrow_drop_down: "\ea13";
$icon-arrow_drop_down_circle: "\ea12";
$icon-arrow_drop_up: "\ea11";
$icon-arrow_forward: "\ea10";
$icon-arrow_forward_ios: "\ea0f";
$icon-arrow_left: "\ea0e";
$icon-arrow_right: "\ea0d";
$icon-arrow_upward: "\ea0c";
$icon-campaign: "\ea0b";
$icon-cancel: "\ea0a";
$icon-check: "\ea09";
$icon-chevron_left: "\ea08";
$icon-chevron_right: "\ea07";
$icon-close: "\ea06";
$icon-double_arrow: "\ea05";
$icon-east: "\ea04";
$icon-expand_less: "\ea03";
$icon-expand_more: "\ea02";
$icon-first_page: "\ea01";
$icon-fullscreen: "\ea00";
$icon-fullscreen_exit: "\e9ff";
$icon-home_work: "\e9fe";
$icon-last_page: "\e9fd";
$icon-legend_toggle: "\e9fc";
$icon-menu: "\e9e9";
$icon-menu_open: "\e9ea";
$icon-more_horiz: "\e9eb";
$icon-more_vert: "\e9ec";
$icon-north: "\e9ed";
$icon-north_east: "\e9ee";
$icon-north_west: "\e9ef";
$icon-payments: "\e9f0";
$icon-refresh: "\e9f1";
$icon-south: "\e9f2";
$icon-south_east: "\e9f3";
$icon-south_west: "\e9f4";
$icon-subdirectory_arrow_left: "\e9f5";
$icon-subdirectory_arrow_right: "\e9f6";
$icon-switch_left: "\e9f7";
$icon-switch_right: "\e9f8";
$icon-unfold_less: "\e9f9";
$icon-unfold_more: "\e9fa";
$icon-west: "\e9fb";
$icon-360: "\eae7";
$icon-add_business: "\eae6";
$icon-add_location: "\eae5";
$icon-add_location_alt: "\eae4";
$icon-add_road: "\eae3";
$icon-agriculture: "\eae2";
$icon-alt_route: "\eae1";
$icon-atm: "\eae0";
$icon-beenhere: "\eadf";
$icon-bike_scooter: "\eade";
$icon-category: "\eadd";
$icon-cleaning_services: "\eadc";
$icon-compass_calibration: "\eadb";
$icon-departure_board: "\eada";
$icon-design_services: "\ead9";
$icon-directions: "\ead8";
$icon-directions_bike: "\ead7";
$icon-directions_boat: "\ead6";
$icon-directions_bus: "\ead5";
$icon-directions_car: "\ead4";
$icon-directions_railway: "\ead3";
$icon-directions_run: "\ead2";
$icon-directions_subway: "\ead1";
$icon-directions_transit: "\ead0";
$icon-directions_walk: "\eacf";
$icon-edit_attributes: "\eace";
$icon-edit_location: "\eacd";
$icon-edit_road: "\eacc";
$icon-electric_bike: "\eacb";
$icon-electric_car: "\ea73";
$icon-electric_moped: "\ea74";
$icon-electric_scooter: "\ea75";
$icon-electrical_services: "\ea76";
$icon-ev_station: "\ea77";
$icon-fastfood: "\ea78";
$icon-flight: "\ea79";
$icon-handyman: "\ea7a";
$icon-home_repair_service: "\ea7b";
$icon-hotel: "\ea7c";
$icon-hvac: "\ea7d";
$icon-layers: "\ea7e";
$icon-layers_clear: "\ea7f";
$icon-local_activity: "\ea80";
$icon-local_airport: "\ea81";
$icon-local_atm: "\ea82";
$icon-local_bar: "\ea83";
$icon-local_cafe: "\ea84";
$icon-local_car_wash: "\ea85";
$icon-local_convenience_store: "\ea86";
$icon-local_dining: "\ea87";
$icon-local_drink: "\ea88";
$icon-local_fire_department: "\ea89";
$icon-local_florist: "\ea8a";
$icon-local_gas_station: "\ea8b";
$icon-local_grocery_store: "\ea8c";
$icon-local_hospital: "\ea8d";
$icon-local_hotel: "\ea8e";
$icon-local_laundry_service: "\ea8f";
$icon-local_library: "\ea90";
$icon-local_mall: "\ea91";
$icon-local_movies: "\ea92";
$icon-local_offer: "\ea93";
$icon-local_parking: "\ea94";
$icon-local_pharmacy: "\ea95";
$icon-local_phone: "\ea96";
$icon-local_pizza: "\ea97";
$icon-local_play: "\ea98";
$icon-local_police: "\ea99";
$icon-local_post_office: "\ea9a";
$icon-local_printshop: "\ea9b";
$icon-local_see: "\ea9c";
$icon-local_shipping: "\ea9d";
$icon-local_taxi: "\ea9e";
$icon-map: "\ea9f";
$icon-maps_ugc: "\eaa0";
$icon-medical_services: "\eaa1";
$icon-menu_book: "\eaa2";
$icon-miscellaneous_services: "\eaa3";
$icon-money: "\eaa4";
$icon-moped: "\eaa5";
$icon-multiple_stop: "\eaa6";
$icon-museum: "\eaa7";
$icon-my_location: "\eaa8";
$icon-navigation: "\eaa9";
$icon-near_me: "\eaaa";
$icon-near_me_disabled: "\eaab";
$icon-no_meals: "\eaac";
$icon-no_transfer: "\eaad";
$icon-not_listed_location: "\eaae";
$icon-pedal_bike: "\eaaf";
$icon-person_pin: "\eab0";
$icon-person_pin_circle: "\eab1";
$icon-pest_control: "\eab2";
$icon-pest_control_rodent: "\eab3";
$icon-pin_drop: "\eab4";
$icon-place: "\eab5";
$icon-plumbing: "\eab6";
$icon-rate_review: "\eab7";
$icon-restaurant: "\eab8";
$icon-restaurant_menu: "\eab9";
$icon-run_circle: "\eaba";
$icon-satellite: "\eabb";
$icon-set_meal: "\eabc";
$icon-store_mall_directory: "\eabd";
$icon-streetview: "\eabe";
$icon-subway: "\eabf";
$icon-terrain: "\eac0";
$icon-traffic: "\eac1";
$icon-train: "\eac2";
$icon-tram: "\eac3";
$icon-transfer_within_a_station: "\eac4";
$icon-transit_enterexit: "\eac5";
$icon-trip_origin: "\eac6";
$icon-two_wheeler: "\eac7";
$icon-wine_bar: "\eac8";
$icon-wrong_location: "\eac9";
$icon-zoom_out_map: "\eaca";
$icon-add_a_photo: "\eae8";
$icon-add_photo_alternate: "\eae9";
$icon-add_to_photos: "\eaea";
$icon-adjust: "\eaeb";
$icon-assistant: "\eaec";
$icon-assistant_photo: "\eaed";
$icon-audiotrack: "\eaee";
$icon-bedtime: "\eaef";
$icon-blur_circular: "\eaf0";
$icon-blur_linear: "\eaf1";
$icon-blur_off: "\eaf2";
$icon-blur_on: "\eaf3";
$icon-brightness_1: "\eaf4";
$icon-brightness_2: "\eaf5";
$icon-brightness_3: "\eaf6";
$icon-brightness_4: "\eaf7";
$icon-brightness_5: "\eaf8";
$icon-brightness_6: "\eaf9";
$icon-brightness_7: "\eafa";
$icon-broken_image: "\eafb";
$icon-brush: "\eafc";
$icon-burst_mode: "\eafd";
$icon-camera: "\eafe";
$icon-camera_alt: "\eaff";
$icon-camera_front: "\eb00";
$icon-camera_rear: "\eb01";
$icon-camera_roll: "\eb02";
$icon-center_focus_strong: "\eb03";
$icon-center_focus_weak: "\eb04";
$icon-collections: "\eb05";
$icon-collections_bookmark: "\eb06";
$icon-color_lens: "\eb07";
$icon-colorize: "\eb08";
$icon-compare: "\eb09";
$icon-control_point: "\eb0a";
$icon-control_point_duplicate: "\eb0b";
$icon-crop: "\eb0c";
$icon-crop_3_2: "\eb0d";
$icon-crop_5_4: "\eb0e";
$icon-crop_7_5: "\eb0f";
$icon-crop_16_9: "\eb10";
$icon-crop_din: "\eb11";
$icon-crop_free: "\eb12";
$icon-crop_landscape: "\eb13";
$icon-crop_original: "\eb14";
$icon-crop_portrait: "\eb15";
$icon-crop_rotate: "\eb16";
$icon-crop_square: "\eb17";
$icon-dehaze: "\eb18";
$icon-details: "\eb19";
$icon-edit: "\eb1a";
$icon-euro: "\eb1b";
$icon-exposure: "\eb1c";
$icon-exposure_neg_1: "\eb1d";
$icon-exposure_neg_2: "\eb1e";
$icon-exposure_plus_1: "\eb1f";
$icon-exposure_plus_2: "\eb20";
$icon-exposure_zero: "\eb21";
$icon-filter: "\eb22";
$icon-filter_1: "\eb23";
$icon-filter_2: "\eb24";
$icon-filter_3: "\eb25";
$icon-filter_4: "\eb26";
$icon-filter_5: "\eb27";
$icon-filter_6: "\eb28";
$icon-filter_7: "\eb29";
$icon-filter_8: "\eb2a";
$icon-filter_9: "\eb2b";
$icon-filter_9_plus: "\eb2c";
$icon-filter_b_and_w: "\eb2d";
$icon-filter_center_focus: "\eb2e";
$icon-filter_drama: "\eb2f";
$icon-filter_frames: "\eb30";
$icon-filter_hdr: "\eb31";
$icon-filter_none: "\eb32";
$icon-filter_tilt_shift: "\eb33";
$icon-filter_vintage: "\eb34";
$icon-flare: "\eb35";
$icon-flash_auto: "\eb36";
$icon-flash_off: "\eb37";
$icon-flash_on: "\eb38";
$icon-flip: "\eb39";
$icon-flip_camera_android: "\eb3a";
$icon-flip_camera_ios: "\eb3b";
$icon-gradient: "\eb3c";
$icon-grain: "\eb3d";
$icon-grid_off: "\eb3e";
$icon-grid_on: "\eb3f";
$icon-hdr_off: "\eb40";
$icon-hdr_on: "\eb41";
$icon-hdr_strong: "\eb42";
$icon-hdr_weak: "\eb43";
$icon-healing: "\eb44";
$icon-image: "\eb45";
$icon-image_aspect_ratio: "\eb46";
$icon-image_not_supported: "\eb47";
$icon-image_search: "\eb48";
$icon-iso: "\eb49";
$icon-landscape: "\eb4a";
$icon-leak_add: "\eb4b";
$icon-leak_remove: "\eb4c";
$icon-lens: "\eb4d";
$icon-linked_camera: "\eb4e";
$icon-looks: "\eb4f";
$icon-looks_3: "\eb50";
$icon-looks_4: "\eb51";
$icon-looks_5: "\eb52";
$icon-looks_6: "\eb53";
$icon-looks_one: "\eb54";
$icon-looks_two: "\eb55";
$icon-loupe: "\eb56";
$icon-monochrome_photos: "\eb57";
$icon-motion_photos_on: "\eb58";
$icon-motion_photos_pause: "\eb59";
$icon-motion_photos_paused: "\eb5a";
$icon-movie_creation: "\eb5b";
$icon-movie_filter: "\eb5c";
$icon-music_note: "\eb5d";
$icon-music_off: "\eb5e";
$icon-nature: "\eb5f";
$icon-nature_people: "\eb60";
$icon-navigate_before: "\eb61";
$icon-navigate_next: "\eb62";
$icon-palette: "\eb63";
$icon-panorama: "\eb64";
$icon-panorama_fish_eye: "\eb65";
$icon-panorama_horizontal: "\eb66";
$icon-panorama_vertical: "\eb67";
$icon-panorama_wide_angle: "\eb68";
$icon-photo: "\eb69";
$icon-photo_album: "\eb6a";
$icon-photo_camera: "\eb6b";
$icon-photo_filter: "\eb6c";
$icon-photo_library: "\eb6d";
$icon-photo_size_select_actual: "\eb6e";
$icon-photo_size_select_large: "\eb6f";
$icon-photo_size_select_small: "\eb70";
$icon-picture_as_pdf: "\eb71";
$icon-portrait: "\eb72";
$icon-receipt_long: "\eb73";
$icon-remove_red_eye: "\eb74";
$icon-rotate_90_degrees_ccw: "\eb75";
$icon-rotate_left: "\eb76";
$icon-rotate_right: "\eb77";
$icon-shutter_speed: "\eb78";
$icon-slideshow: "\eb79";
$icon-straighten: "\eb7a";
$icon-style: "\eb7b";
$icon-switch_camera: "\eb7c";
$icon-switch_video: "\eb7d";
$icon-tag_faces: "\eb8f";
$icon-texture: "\eb8e";
$icon-timelapse: "\eb8d";
$icon-timer: "\eb8c";
$icon-timer_3: "\eb8b";
$icon-timer_10: "\eb8a";
$icon-timer_off: "\eb89";
$icon-tonality: "\eb88";
$icon-transform: "\eb87";
$icon-tune: "\eb86";
$icon-view_comfy: "\eb85";
$icon-view_compact: "\eb84";
$icon-vignette: "\eb83";
$icon-wb_auto: "\eb82";
$icon-wb_cloudy: "\eb81";
$icon-wb_incandescent: "\eb7e";
$icon-wb_iridescent: "\eb7f";
$icon-wb_sunny: "\eb80";
$icon-sensor_door: "\eb90";
$icon-sensor_window: "\eb91";
$icon-browser_not_supported: "\eb92";
$icon-cast: "\eb93";
$icon-cast_connected: "\eb94";
$icon-cast_for_education: "\eb95";
$icon-computer: "\eb96";
$icon-desktop_mac: "\eb97";
$icon-desktop_windows: "\eb98";
$icon-developer_board: "\eb99";
$icon-device_hub: "\eb9a";
$icon-device_unknown: "\eb9b";
$icon-devices_other: "\eb9c";
$icon-dock: "\eb9d";
$icon-gamepad: "\eb9e";
$icon-headset: "\eb9f";
$icon-headset_mic: "\eba0";
$icon-keyboard: "\eba1";
$icon-keyboard_arrow_down: "\eba2";
$icon-keyboard_arrow_left: "\eba3";
$icon-keyboard_arrow_right: "\eba4";
$icon-keyboard_arrow_up: "\eba5";
$icon-keyboard_backspace: "\eba6";
$icon-keyboard_capslock: "\eba7";
$icon-keyboard_hide: "\eba8";
$icon-keyboard_return: "\eba9";
$icon-keyboard_tab: "\ebaa";
$icon-keyboard_voice: "\ebab";
$icon-laptop: "\ebac";
$icon-laptop_chromebook: "\ebad";
$icon-laptop_mac: "\ebae";
$icon-laptop_windows: "\ebaf";
$icon-memory: "\ebc5";
$icon-mouse: "\ebc4";
$icon-phone_android: "\ebc3";
$icon-phone_iphone: "\ebc2";
$icon-phonelink: "\ebc1";
$icon-phonelink_off: "\ebc0";
$icon-point_of_sale: "\ebbf";
$icon-power_input: "\ebbe";
$icon-router: "\ebbd";
$icon-scanner: "\ebbc";
$icon-security: "\ebbb";
$icon-sim_card: "\ebba";
$icon-smartphone: "\ebb9";
$icon-speaker: "\ebb8";
$icon-speaker_group: "\ebb7";
$icon-tablet: "\ebb6";
$icon-tablet_android: "\ebb5";
$icon-tablet_mac: "\ebb4";
$icon-toys: "\ebb3";
$icon-tv: "\ebb2";
$icon-videogame_asset: "\ebb1";
$icon-watch: "\ebb0";
$icon-attach_email: "\ebda";
$icon-attachment: "\ebd9";
$icon-cloud: "\ebd8";
$icon-cloud_circle: "\ebd7";
$icon-cloud_done: "\ebd6";
$icon-cloud_download: "\ebd5";
$icon-cloud_off: "\ebd4";
$icon-cloud_queue: "\ebd3";
$icon-cloud_upload: "\ebd2";
$icon-create_new_folder: "\ebd1";
$icon-download: "\ebd0";
$icon-download_done: "\ebcf";
$icon-folder: "\ebce";
$icon-folder_open: "\ebcd";
$icon-folder_shared: "\ebcc";
$icon-request_quote: "\ebcb";
$icon-rule_folder: "\ebca";
$icon-snippet_folder: "\ebc9";
$icon-text_snippet: "\ebc8";
$icon-topic: "\ebc7";
$icon-upload: "\ebc6";
$icon-add_comment: "\ec2b";
$icon-attach_file: "\ec2a";
$icon-attach_money: "\ec29";
$icon-bar_chart: "\ec28";
$icon-border_all: "\ec27";
$icon-border_bottom: "\ec26";
$icon-border_clear: "\ec25";
$icon-border_horizontal: "\ec24";
$icon-border_inner: "\ec23";
$icon-border_left: "\ec22";
$icon-border_outer: "\ec21";
$icon-border_right: "\ec20";
$icon-border_style: "\ec1f";
$icon-border_top: "\ec1e";
$icon-border_vertical: "\ec1d";
$icon-bubble_chart: "\ec1c";
$icon-drag_handle: "\ec1b";
$icon-format_align_center: "\ec1a";
$icon-format_align_justify: "\ec19";
$icon-format_align_left: "\ec18";
$icon-format_align_right: "\ec17";
$icon-format_bold: "\ec16";
$icon-format_clear: "\ec15";
$icon-format_color_reset: "\ec14";
$icon-format_indent_decrease: "\ec13";
$icon-format_indent_increase: "\ec12";
$icon-format_italic: "\ec11";
$icon-format_line_spacing: "\ec10";
$icon-format_list_bulleted: "\ec0f";
$icon-format_list_numbered: "\ebdb";
$icon-format_list_numbered_rtl: "\ebdc";
$icon-format_paint: "\ebdd";
$icon-format_quote: "\ebde";
$icon-format_shapes: "\ebdf";
$icon-format_size: "\ebe0";
$icon-format_strikethrough: "\ebe1";
$icon-format_textdirection_l_to_r: "\ebe2";
$icon-format_textdirection_r_to_l: "\ebe3";
$icon-format_underlined: "\ebe4";
$icon-functions: "\ebe5";
$icon-height: "\ebe6";
$icon-highlight: "\ebe7";
$icon-horizontal_rule: "\ebe8";
$icon-insert_chart: "\ebe9";
$icon-insert_chart_outlined: "\ebea";
$icon-insert_comment: "\ebeb";
$icon-insert_drive_file: "\ebec";
$icon-insert_emoticon: "\ebed";
$icon-insert_invitation: "\ebee";
$icon-insert_link: "\ebef";
$icon-insert_photo: "\ebf0";
$icon-linear_scale: "\ebf1";
$icon-merge_type: "\ebf2";
$icon-mode: "\ebf3";
$icon-mode_comment: "\ebf4";
$icon-monetization_on: "\ebf5";
$icon-money_off: "\ebf6";
$icon-money_off_csred: "\ebf7";
$icon-multiline_chart: "\ebf8";
$icon-notes: "\ebf9";
$icon-pie_chart: "\ebfa";
$icon-pie_chart_outline: "\ebfb";
$icon-post_add: "\ebfc";
$icon-publish: "\ebfd";
$icon-scatter_plot: "\ebfe";
$icon-score: "\ebff";
$icon-short_text: "\ec00";
$icon-show_chart: "\ec01";
$icon-space_bar: "\ec02";
$icon-stacked_line_chart: "\ec03";
$icon-strikethrough_s: "\ec04";
$icon-subscript: "\ec05";
$icon-superscript: "\ec06";
$icon-table_chart: "\ec07";
$icon-table_rows: "\ec08";
$icon-text_fields: "\ec09";
$icon-title: "\ec0a";
$icon-vertical_align_bottom: "\ec0b";
$icon-vertical_align_center: "\ec0c";
$icon-vertical_align_top: "\ec0d";
$icon-wrap_text: "\ec0e";
$icon-access_alarm: "\ec63";
$icon-access_alarms: "\ec62";
$icon-access_time: "\ec61";
$icon-ad_units: "\ec60";
$icon-add_alarm: "\ec5f";
$icon-add_to_home_screen: "\ec5e";
$icon-airplanemode_active: "\ec5d";
$icon-airplanemode_inactive: "\ec5c";
$icon-battery_alert: "\ec5b";
$icon-battery_charging_full: "\ec5a";
$icon-battery_full: "\ec59";
$icon-battery_std: "\ec58";
$icon-battery_unknown: "\ec57";
$icon-bluetooth: "\ec56";
$icon-bluetooth_connected: "\ec55";
$icon-bluetooth_disabled: "\ec54";
$icon-bluetooth_searching: "\ec53";
$icon-brightness_auto: "\ec52";
$icon-brightness_high: "\ec51";
$icon-brightness_low: "\ec50";
$icon-brightness_medium: "\ec4f";
$icon-data_usage: "\ec4e";
$icon-developer_mode: "\ec4d";
$icon-devices: "\ec4c";
$icon-dvr: "\ec4b";
$icon-gps_fixed: "\ec4a";
$icon-gps_not_fixed: "\ec49";
$icon-gps_off: "\ec48";
$icon-graphic_eq: "\ec47";
$icon-location_disabled: "\ec2c";
$icon-location_searching: "\ec2d";
$icon-mobile_friendly: "\ec2e";
$icon-mobile_off: "\ec2f";
$icon-nfc: "\ec30";
$icon-screen_lock_landscape: "\ec31";
$icon-screen_lock_portrait: "\ec32";
$icon-screen_lock_rotation: "\ec33";
$icon-screen_rotation: "\ec34";
$icon-sd_storage: "\ec35";
$icon-settings_system_daydream: "\ec36";
$icon-signal_cellular_4_bar: "\ec37";
$icon-signal_cellular_alt: "\ec38";
$icon-signal_cellular_connected_no_internet_4_bar: "\ec39";
$icon-signal_cellular_no_sim: "\ec3a";
$icon-signal_cellular_null: "\ec3b";
$icon-signal_cellular_off: "\ec3c";
$icon-signal_wifi_4_bar: "\ec3d";
$icon-signal_wifi_4_bar_lock: "\ec3e";
$icon-signal_wifi_off: "\ec3f";
$icon-storage: "\ec40";
$icon-thermostat: "\ec41";
$icon-usb: "\ec42";
$icon-wallpaper: "\ec43";
$icon-widgets: "\ec44";
$icon-wifi_lock: "\ec45";
$icon-wifi_tethering: "\ec46";
$icon-add: "\eca0";
$icon-add_box: "\ec9f";
$icon-add_circle: "\ec9e";
$icon-add_circle_outline: "\ec9d";
$icon-amp_stories: "\ec9c";
$icon-archive: "\ec9b";
$icon-attribution: "\ec9a";
$icon-backspace: "\ec99";
$icon-ballot: "\ec98";
$icon-biotech: "\ec97";
$icon-block: "\ec96";
$icon-calculate: "\ec95";
$icon-clear: "\ec94";
$icon-content_copy: "\ec93";
$icon-content_cut: "\ec92";
$icon-content_paste: "\ec91";
$icon-create: "\ec90";
$icon-delete_sweep: "\ec8f";
$icon-drafts: "\ec8e";
$icon-dynamic_feed: "\ec8d";
$icon-file_copy: "\ec8c";
$icon-filter_list: "\ec8b";
$icon-flag: "\ec8a";
$icon-font_download: "\ec89";
$icon-forward: "\ec88";
$icon-gesture: "\ec87";
$icon-how_to_reg: "\ec86";
$icon-how_to_vote: "\ec85";
$icon-inbox: "\ec84";
$icon-insights: "\ec64";
$icon-link: "\ec65";
$icon-link_off: "\ec66";
$icon-low_priority: "\ec67";
$icon-mail: "\ec68";
$icon-markunread: "\ec69";
$icon-move_to_inbox: "\ec6a";
$icon-next_week: "\ec6b";
$icon-outlined_flag: "\ec6c";
$icon-policy: "\ec6d";
$icon-push_pin: "\ec6e";
$icon-redo: "\ec6f";
$icon-remove: "\ec70";
$icon-remove_circle: "\ec71";
$icon-remove_circle_outline: "\ec72";
$icon-reply: "\ec73";
$icon-reply_all: "\ec74";
$icon-report: "\ec75";
$icon-report_gmailerrorred: "\ec76";
$icon-report_off: "\ec77";
$icon-save: "\ec78";
$icon-save_alt: "\ec79";
$icon-select_all: "\ec7a";
$icon-send: "\ec7b";
$icon-sort: "\ec7c";
$icon-square_foot: "\ec7d";
$icon-text_format: "\ec7e";
$icon-unarchive: "\ec7f";
$icon-undo: "\ec80";
$icon-waves: "\ec81";
$icon-weekend: "\ec82";
$icon-where_to_vote: "\ec83";
$icon-add_ic_call: "\ecf0";
$icon-alternate_email: "\ecef";
$icon-business: "\ecee";
$icon-call: "\eced";
$icon-call_end: "\ecec";
$icon-call_made: "\eceb";
$icon-call_merge: "\ecea";
$icon-call_missed: "\ece9";
$icon-call_missed_outgoing: "\ece8";
$icon-call_received: "\ece7";
$icon-call_split: "\ece6";
$icon-cancel_presentation: "\ece5";
$icon-chat: "\ece4";
$icon-chat_bubble: "\ece3";
$icon-chat_bubble_outline: "\ece2";
$icon-clear_all: "\ece1";
$icon-comment: "\ece0";
$icon-contact_mail: "\ecdf";
$icon-contact_phone: "\ecde";
$icon-contacts: "\ecdd";
$icon-desktop_access_disabled: "\ecdc";
$icon-dialer_sip: "\ecdb";
$icon-dialpad: "\ecda";
$icon-domain_disabled: "\ecd9";
$icon-domain_verification: "\ecd8";
$icon-duo: "\ecd7";
$icon-email: "\ecd6";
$icon-forum: "\ecd5";
$icon-forward_to_inbox: "\ecd4";
$icon-hourglass_bottom: "\eca1";
$icon-hourglass_top: "\eca2";
$icon-import_contacts: "\eca3";
$icon-import_export: "\eca4";
$icon-invert_colors_off: "\eca5";
$icon-list_alt: "\eca6";
$icon-live_help: "\eca7";
$icon-location_off: "\eca8";
$icon-location_on: "\eca9";
$icon-mail_outline: "\ecaa";
$icon-mark_chat_read: "\ecab";
$icon-mark_chat_unread: "\ecac";
$icon-mark_email_read: "\ecad";
$icon-mark_email_unread: "\ecae";
$icon-message: "\ecaf";
$icon-mobile_screen_share: "\ecb0";
$icon-more_time: "\ecb1";
$icon-nat: "\ecb2";
$icon-no_sim: "\ecb3";
$icon-pause_presentation: "\ecb4";
$icon-person_add_disabled: "\ecb5";
$icon-person_search: "\ecb6";
$icon-phone: "\ecb7";
$icon-phone_disabled: "\ecb8";
$icon-phone_enabled: "\ecb9";
$icon-phonelink_erase: "\ecba";
$icon-phonelink_lock: "\ecbb";
$icon-phonelink_ring: "\ecbc";
$icon-phonelink_setup: "\ecbd";
$icon-portable_wifi_off: "\ecbe";
$icon-present_to_all: "\ecbf";
$icon-print_disabled: "\ecc0";
$icon-qr_code: "\ecc1";
$icon-qr_code_scanner: "\ecc2";
$icon-read_more: "\ecc3";
$icon-ring_volume: "\ecc4";
$icon-rss_feed: "\ecc5";
$icon-screen_share: "\ecc6";
$icon-sentiment_satisfied_alt: "\ecc7";
$icon-speaker_phone: "\ecc8";
$icon-stay_current_landscape: "\ecc9";
$icon-stay_current_portrait: "\ecca";
$icon-stay_primary_landscape: "\eccb";
$icon-stay_primary_portrait: "\eccc";
$icon-stop_screen_share: "\eccd";
$icon-swap_calls: "\ecce";
$icon-textsms: "\eccf";
$icon-unsubscribe: "\ecd0";
$icon-voicemail: "\ecd1";
$icon-vpn_key: "\ecd2";
$icon-wifi_calling: "\ecd3";
$icon-add_alert: "\ecf7";
$icon-auto_delete: "\ecf6";
$icon-error: "\ecf5";
$icon-error_outline: "\ecf4";
$icon-notification_important: "\ecf3";
$icon-warning: "\ecf2";
$icon-warning_amber: "\ecf1";
$icon-d_rotation: "\ee30";
$icon-accessibility: "\ee2f";
$icon-accessibility_new: "\ee2e";
$icon-accessible: "\ee2d";
$icon-accessible_forward: "\ee2c";
$icon-account_balance: "\ee2b";
$icon-account_balance_wallet: "\ee2a";
$icon-account_box: "\ee29";
$icon-account_circle: "\ee28";
$icon-add_shopping_cart: "\ee27";
$icon-add_task: "\ee26";
$icon-addchart: "\ee25";
$icon-admin_panel_settings: "\ee24";
$icon-alarm: "\ee23";
$icon-alarm_add: "\ee22";
$icon-alarm_off: "\ee21";
$icon-alarm_on: "\ee20";
$icon-all_inbox: "\ee1f";
$icon-all_out: "\ee1e";
$icon-analytics: "\ee1d";
$icon-anchor: "\ee1c";
$icon-android: "\ee1b";
$icon-announcement: "\ee1a";
$icon-api: "\ee19";
$icon-app_blocking: "\ee18";
$icon-arrow_circle_down: "\ee17";
$icon-arrow_circle_up: "\ee16";
$icon-arrow_right_alt: "\ee15";
$icon-article: "\ee14";
$icon-aspect_ratio: "\ecf8";
$icon-assessment: "\ecf9";
$icon-assignment: "\ecfa";
$icon-assignment_ind: "\ecfb";
$icon-assignment_late: "\ecfc";
$icon-assignment_return: "\ecfd";
$icon-assignment_returned: "\ecfe";
$icon-assignment_turned_in: "\ecff";
$icon-autorenew: "\ed00";
$icon-backup: "\ed01";
$icon-backup_table: "\ed02";
$icon-batch_prediction: "\ed03";
$icon-book: "\ed04";
$icon-book_online: "\ed05";
$icon-bookmark: "\ed06";
$icon-bookmark_border: "\ed07";
$icon-bookmarks: "\ed08";
$icon-bug_report: "\ed09";
$icon-build: "\ed0a";
$icon-build_circle: "\ed0b";
$icon-cached: "\ed0c";
$icon-calendar_today: "\ed0d";
$icon-calendar_view_day: "\ed0e";
$icon-camera_enhance: "\ed0f";
$icon-cancel_schedule_send: "\ed10";
$icon-card_giftcard: "\ed11";
$icon-card_membership: "\ed12";
$icon-card_travel: "\ed13";
$icon-change_history: "\ed14";
$icon-check_circle: "\ed15";
$icon-check_circle_outline: "\ed16";
$icon-chrome_reader_mode: "\ed17";
$icon-class: "\ed18";
$icon-close_fullscreen: "\ed19";
$icon-code: "\ed1a";
$icon-comment_bank: "\ed1b";
$icon-commute: "\ed1c";
$icon-compare_arrows: "\ed1d";
$icon-contact_page: "\ed1e";
$icon-contact_support: "\ed1f";
$icon-contactless: "\ed20";
$icon-copyright: "\ed21";
$icon-credit_card: "\ed22";
$icon-dashboard: "\ed23";
$icon-date_range: "\ed24";
$icon-delete: "\ed25";
$icon-delete_forever: "\ed26";
$icon-delete_outline: "\ed27";
$icon-description: "\ed28";
$icon-disabled_by_default: "\ed29";
$icon-dns: "\ed2a";
$icon-done: "\ed2b";
$icon-done_all: "\ed2c";
$icon-done_outline: "\ed2d";
$icon-donut_large: "\ed2e";
$icon-donut_small: "\ed2f";
$icon-drag_indicator: "\ed30";
$icon-dynamic_form: "\ed31";
$icon-eco: "\ed32";
$icon-eject: "\ed33";
$icon-euro_symbol: "\ed34";
$icon-event: "\ed35";
$icon-event_seat: "\ed36";
$icon-exit_to_app: "\ed37";
$icon-explore: "\ed38";
$icon-explore_off: "\ed39";
$icon-extension: "\ed3a";
$icon-face: "\ed3b";
$icon-face_unlock: "\ed3c";
$icon-fact_check: "\ed3d";
$icon-favorite: "\ed3e";
$icon-favorite_border: "\ed3f";
$icon-feedback: "\ed40";
$icon-filter_alt: "\ed41";
$icon-find_in_page: "\ed42";
$icon-find_replace: "\ed43";
$icon-fingerprint: "\ed44";
$icon-flaky: "\ed45";
$icon-flight_land: "\ed46";
$icon-flight_takeoff: "\ed47";
$icon-flip_to_back: "\ed48";
$icon-flip_to_front: "\ed49";
$icon-g_translate: "\ed4a";
$icon-gavel: "\ed4b";
$icon-get_app: "\ed4c";
$icon-gif: "\ed4d";
$icon-grade: "\ed4e";
$icon-grading: "\ed4f";
$icon-group_work: "\ed50";
$icon-help: "\ed51";
$icon-help_center: "\ed52";
$icon-help_outline: "\ed53";
$icon-highlight_alt: "\ed54";
$icon-highlight_off: "\ed55";
$icon-history: "\ed56";
$icon-history_toggle_off: "\ed57";
$icon-home: "\ed58";
$icon-horizontal_split: "\ed59";
$icon-hourglass_disabled: "\ed5a";
$icon-hourglass_empty: "\ed5b";
$icon-hourglass_full: "\ed5c";
$icon-http: "\ed5d";
$icon-https: "\ed5e";
$icon-important_devices: "\ed5f";
$icon-info: "\ed60";
$icon-input: "\ed61";
$icon-integration_instructions: "\ed62";
$icon-invert_colors: "\ed63";
$icon-label: "\ed64";
$icon-label_important: "\ed65";
$icon-label_off: "\ed66";
$icon-language: "\ed67";
$icon-launch: "\ed68";
$icon-leaderboard: "\ed69";
$icon-lightbulb: "\ed6a";
$icon-line_style: "\ed6b";
$icon-line_weight: "\ed6c";
$icon-list: "\ed6d";
$icon-lock: "\ed6e";
$icon-lock_open: "\ed6f";
$icon-login: "\ed70";
$icon-loyalty: "\ed71";
$icon-markunread_mailbox: "\ed72";
$icon-maximize: "\ed73";
$icon-mediation: "\ed74";
$icon-minimize: "\ed75";
$icon-model_training: "\ed76";
$icon-next_plan: "\ed77";
$icon-not_accessible: "\ed78";
$icon-not_started: "\ed79";
$icon-note_add: "\ed7a";
$icon-offline_bolt: "\ed7b";
$icon-offline_pin: "\ed7c";
$icon-online_prediction: "\ed7d";
$icon-opacity: "\ed7e";
$icon-open_in_browser: "\ed7f";
$icon-open_in_full: "\ed80";
$icon-open_in_new: "\ed81";
$icon-open_with: "\ed82";
$icon-outbond: "\ed83";
$icon-outlet: "\ed84";
$icon-pageview: "\ed85";
$icon-pan_tool: "\ed86";
$icon-payment: "\ed87";
$icon-pending: "\ed88";
$icon-pending_actions: "\ed89";
$icon-perm_camera_mic: "\ed8a";
$icon-perm_contact_calendar: "\ed8b";
$icon-perm_data_setting: "\ed8c";
$icon-perm_device_information: "\ed8d";
$icon-perm_identity: "\ed8e";
$icon-perm_media: "\ed8f";
$icon-perm_phone_msg: "\ed90";
$icon-perm_scan_wifi: "\ed91";
$icon-pets: "\ed92";
$icon-picture_in_picture: "\ed93";
$icon-picture_in_picture_alt: "\ed94";
$icon-plagiarism: "\ed95";
$icon-play_for_work: "\ed96";
$icon-polymer: "\ed97";
$icon-power_settings_new: "\ed98";
$icon-pregnant_woman: "\ed99";
$icon-preview: "\ed9a";
$icon-print: "\ed9b";
$icon-privacy_tip: "\ed9c";
$icon-published_with_changes: "\ed9d";
$icon-query_builder: "\ed9e";
$icon-question_answer: "\ed9f";
$icon-quickreply: "\eda0";
$icon-receipt: "\eda1";
$icon-record_voice_over: "\eda2";
$icon-redeem: "\eda3";
$icon-remove_shopping_cart: "\eda4";
$icon-reorder: "\eda5";
$icon-report_problem: "\eda6";
$icon-request_page: "\eda7";
$icon-restore: "\eda8";
$icon-restore_from_trash: "\eda9";
$icon-restore_page: "\edaa";
$icon-room: "\edab";
$icon-rounded_corner: "\edac";
$icon-rowing: "\edad";
$icon-rule: "\edae";
$icon-schedule: "\edaf";
$icon-search: "\edb0";
$icon-search_off: "\edb1";
$icon-settings: "\edb2";
$icon-settings_applications: "\edb3";
$icon-settings_backup_restore: "\edb4";
$icon-settings_bluetooth: "\edb5";
$icon-settings_brightness: "\edb6";
$icon-settings_cell: "\edb7";
$icon-settings_ethernet: "\edb8";
$icon-settings_input_antenna: "\edb9";
$icon-settings_input_component: "\edba";
$icon-settings_input_composite: "\edbb";
$icon-settings_input_hdmi: "\edbc";
$icon-settings_input_svideo: "\edbd";
$icon-settings_overscan: "\edbe";
$icon-settings_phone: "\edbf";
$icon-settings_power: "\edc0";
$icon-settings_remote: "\edc1";
$icon-settings_voice: "\edc2";
$icon-shop: "\edc3";
$icon-shop_two: "\edc4";
$icon-shopping_bag: "\edc5";
$icon-shopping_basket: "\edc6";
$icon-shopping_cart: "\edc7";
$icon-smart_button: "\edc8";
$icon-source: "\edc9";
$icon-speaker_notes: "\edca";
$icon-speaker_notes_off: "\edcb";
$icon-spellcheck: "\edcc";
$icon-star_rate: "\edcd";
$icon-stars: "\edce";
$icon-sticky_note_2: "\edcf";
$icon-store: "\edd0";
$icon-subject: "\edd1";
$icon-subtitles_off: "\edd2";
$icon-supervised_user_circle: "\edd3";
$icon-supervisor_account: "\edd4";
$icon-support: "\edd5";
$icon-swap_horiz: "\edd6";
$icon-swap_horizontal_circle: "\edd7";
$icon-swap_vert: "\edd8";
$icon-swap_vertical_circle: "\edd9";
$icon-sync_alt: "\edda";
$icon-system_update_alt: "\eddb";
$icon-tab: "\eddc";
$icon-tab_unselected: "\eddd";
$icon-table_view: "\edde";
$icon-text_rotate_up: "\eddf";
$icon-text_rotate_vertical: "\ede0";
$icon-text_rotation_angledown: "\ede1";
$icon-text_rotation_angleup: "\ede2";
$icon-text_rotation_down: "\ede3";
$icon-text_rotation_none: "\ede4";
$icon-theaters: "\ede5";
$icon-thumb_down: "\ede6";
$icon-thumb_up: "\ede7";
$icon-thumbs_up_down: "\ede8";
$icon-timeline: "\ede9";
$icon-toc: "\edea";
$icon-today: "\edeb";
$icon-toll: "\edec";
$icon-touch_app: "\eded";
$icon-tour: "\edee";
$icon-track_changes: "\edef";
$icon-translate: "\edf0";
$icon-trending_down: "\edf1";
$icon-trending_flat: "\edf2";
$icon-trending_up: "\edf3";
$icon-turned_in: "\edf4";
$icon-turned_in_not: "\edf5";
$icon-unpublished: "\edf6";
$icon-update: "\edf7";
$icon-upgrade: "\edf8";
$icon-verified: "\edf9";
$icon-verified_user: "\edfa";
$icon-vertical_split: "\edfb";
$icon-view_agenda: "\edfc";
$icon-view_array: "\edfd";
$icon-view_carousel: "\edfe";
$icon-view_column: "\edff";
$icon-view_day: "\ee00";
$icon-view_headline: "\ee01";
$icon-view_list: "\ee02";
$icon-view_module: "\ee03";
$icon-view_quilt: "\ee04";
$icon-view_sidebar: "\ee05";
$icon-view_stream: "\ee06";
$icon-view_week: "\ee07";
$icon-visibility: "\ee08";
$icon-visibility_off: "\ee09";
$icon-voice_over_off: "\ee0a";
$icon-watch_later: "\ee0b";
$icon-wifi_protected_setup: "\ee0c";
$icon-work: "\ee0d";
$icon-work_off: "\ee0e";
$icon-work_outline: "\ee0f";
$icon-wysiwyg: "\ee10";
$icon-youtube_searched_for: "\ee11";
$icon-zoom_in: "\ee12";
$icon-zoom_out: "\ee13";
$icon-k: "\ea19";
$icon-g: "\ea1a";
$icon-add_to_queue: "\ea1b";
$icon-airplay: "\ea1c";
$icon-album: "\ea1d";
$icon-art_track: "\ea1e";
$icon-av_timer: "\ea1f";
$icon-branding_watermark: "\ea20";
$icon-call_to_action: "\ea21";
$icon-closed_caption: "\ea22";
$icon-closed_caption_disabled: "\ea23";
$icon-control_camera: "\ea24";
$icon-equalizer: "\ea25";
$icon-explicit: "\ea26";
$icon-fast_forward: "\ea27";
$icon-fast_rewind: "\ea28";
$icon-featured_play_list: "\ea29";
$icon-featured_video: "\ea2a";
$icon-fiber_dvr: "\ea2b";
$icon-fiber_manual_record: "\ea2c";
$icon-fiber_new: "\ea2d";
$icon-fiber_pin: "\ea2e";
$icon-fiber_smart_record: "\ea2f";
$icon-forward_5: "\ea30";
$icon-forward_10: "\ea31";
$icon-forward_30: "\ea32";
$icon-games: "\ea33";
$icon-hd: "\ea34";
$icon-hearing: "\ea35";
$icon-hearing_disabled: "\ea36";
$icon-high_quality: "\ea37";
$icon-library_add: "\ea38";
$icon-library_add_check: "\ea39";
$icon-library_books: "\ea3a";
$icon-library_music: "\ea3b";
$icon-loop: "\ea3c";
$icon-mic: "\ea3d";
$icon-mic_none: "\ea3e";
$icon-mic_off: "\ea3f";
$icon-missed_video_call: "\ea40";
$icon-movie: "\ea41";
$icon-music_video: "\ea42";
$icon-new_releases: "\ea43";
$icon-not_interested: "\ea44";
$icon-note: "\ea45";
$icon-pause: "\ea46";
$icon-pause_circle_filled: "\ea47";
$icon-pause_circle_outline: "\ea48";
$icon-play_arrow: "\ea49";
$icon-play_circle_filled: "\ea4a";
$icon-play_circle_outline: "\ea4b";
$icon-playlist_add: "\ea4c";
$icon-playlist_add_check: "\ea4d";
$icon-playlist_play: "\ea4e";
$icon-queue: "\ea4f";
$icon-queue_music: "\ea50";
$icon-queue_play_next: "\ea51";
$icon-radio: "\ea52";
$icon-recent_actors: "\ea53";
$icon-remove_from_queue: "\ea54";
$icon-repeat: "\ea55";
$icon-repeat_one: "\ea56";
$icon-replay: "\ea57";
$icon-replay_5: "\ea58";
$icon-replay_10: "\ea59";
$icon-replay_30: "\ea5a";
$icon-shuffle: "\ea5b";
$icon-skip_next: "\ea5c";
$icon-skip_previous: "\ea5d";
$icon-slow_motion_video: "\ea5e";
$icon-snooze: "\ea5f";
$icon-sort_by_alpha: "\ea60";
$icon-speed: "\ea61";
$icon-stop: "\ea62";
$icon-stop_circle: "\ea63";
$icon-subscriptions: "\ea64";
$icon-subtitles: "\ea65";
$icon-surround_sound: "\ea66";
$icon-video_call: "\ea67";
$icon-video_label: "\ea68";
$icon-video_library: "\ea69";
$icon-video_settings: "\ea6a";
$icon-videocam: "\ea6b";
$icon-videocam_off: "\ea6c";
$icon-volume_down: "\ea6d";
$icon-volume_mute: "\ea6e";
$icon-volume_off: "\ea6f";
$icon-volume_up: "\ea70";
$icon-web: "\ea71";
$icon-web_asset: "\ea72";

